html{height:100%;}

body{height: 100%;
    background-color:blanchedalmond;
    padding: 0%;
    margin: 0%;}

#titulo{
    font-family: sans-serif;
    text-align: center;
    }

.links {
    font-family:sans-serif
}
#image{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
div{
    margin-left:auto;
    margin-right: auto;
    margin-top: 0%;
    width: 90%;
    background-color: #FFFFFF;
    font-family: sans-serif;
    margin-top: 0%;
    margin-bottom: 0%;
    min-height: 100%;
}
p{
    margin: 10px;
}
h2{margin: 10px}